.footer {
  width: 100%;
  padding: 2rem 2rem;
  background-color: white;
  /* border-top: 1px solid #e5e5e5; */
}

.footer-content {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo-img {
  height: 4rem;
  width: auto;
}

.footer-links {
  display: flex;
  gap: 3rem;
}

.footer-links a {
  color: #666;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #000;
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem;
  }

  .footer-content {
    /* flex-direction: column; */
    gap: 1.5rem;
    text-align: center;
  }

  .footer-logo-img{
    height: 3rem;
  }

  .footer-links {
    gap: 2rem;
  }
}
